.menu {
    font-size: 20px;
    font-weight: 600;
    outline: 0;
    border-radius: 100%;
    color: white;
    border: transparent 2px solid;
    position:fixed;
    right: 52px;;
    top: 30px;
}

#menu-on {
    background: transparent;
    visibility: visible;
    z-index: 101;
}
#menu-off{
    background: transparent;
    visibility: hidden;
    z-index: 100;
}

aside{
    background:rgba(255,255,255,0.5);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    width: 140px;
    height: 100%;
    visibility: hidden;
    z-index: 50;
    opacity: 0.9;
}
aside .list-unstyled{
    text-transform:uppercase;
    font-size:14px;
    position:fixed;
    right: 40px;
    top: 45%;
    font-family: 'Source+Sans+Pro', sans-serif;
    text-align: left;
}
aside a,
aside a:link{
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
aside a:hover,
aside a:active,
aside a:visited{
    color: white;
    text-decoration: none;
    opacity: 1;
}
.social-media{
    opacity: 0.5;
}
.social-media:hover{
    opacity: 1;
}

.aside-bottom {
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
}

.aside-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 45%;
    margin-bottom: 0;
}

.aside-subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin-top: 0;
}

.aside-back {
    text-align: center;
    display: block;
    bottom: 20px;
}

#turret-table {
    margin-top: 100%;
    margin-left: auto;
    margin-right: auto;
}

.turret-desc {
    font-size: 10px;
}

#turret1, #turret2 {
    padding: 10%;
}