#plate {
    box-shadow: 8px 8px 12px #555;
    margin:auto;
    display: block;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.menu-toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
.menu-toggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    -webkit-touch-callout: none;
}

.menu-toggle span {
    display: block;
    width: 40px;
    height: 5px;
    z-index: 1;
    position: relative;
    background: #fff;
    margin-bottom: 7px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.menu-toggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.burger-menu-elem {
    position: absolute;
    width: 400px;
    height: 100vh;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    list-style-type: none;
    transform: translate(-100%, -20%);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu-toggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}
.burger-menu-elem li {
    padding: 10px 0;
    font-size: 30px;
}

.info {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    left: 5%;
    color: white;
    font-weight: bold;
}
