@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
body {
    margin: auto;
    overflow: auto;
    background-color: #ccc;
    -webkit-animation: color 50s linear 0s infinite;
    -moz-animation: color 50s linear 0s infinite;
    -ms-animation: color 50s linear 0s infinite;
    cursor: default;
}

#title {
    text-align: center;
    color: #fff;
    font-family: "Raleway";
    font-size: 40px;
}

#subtitle {
    margin-top: -20px;
    text-align: center;
    color: #fff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
}


@-webkit-keyframes color {
    0% {
        background-color: #d55;
    }
    14% {
        background-color: #d85;
    }
    28% {
        background-color: #fd5;
    }
    42% {
        background-color: #5d5;
    }
    56% {
        background-color: #5d5;
    }
    70% {
        background-color: #5dd;
    }
    84% {
        background-color: #55d;
    }
    96% {
        background-color: #d5d;
    }
    100% {
        background-color: #d55;
    }
}

@-moz-keyframes color {
    0% {
        background-color: #d55;
    }
    14% {
        background-color: #d85;
    }
    28% {
        background-color: #fd5;
    }
    42% {
        background-color: #5d5;
    }
    56% {
        background-color: #5d5;
    }
    70% {
        background-color: #5dd;
    }
    84% {
        background-color: #55d;
    }
    96% {
        background-color: #d5d;
    }
    100% {
        background-color: #d55;
    }
}

@-ms-keyframes color {
    0% {
        background-color: #d55;
    }
    14% {
        background-color: #d85;
    }
    28% {
        background-color: #fd5;
    }
    42% {
        background-color: #5d5;
    }
    56% {
        background-color: #5d5;
    }
    70% {
        background-color: #5dd;
    }
    84% {
        background-color: #55d;
    }
    96% {
        background-color: #d5d;
    }
    100% {
        background-color: #d55;
    }
}