#menu {
    position: absolute;
    height: 150%;
    width: 94%;
    margin: 3vh 3vw;
    background-color: rgba(10, 0, 0, .4);
}
#content {
    width: 100%;
    height: 80%;
}

.choice {
    margin: auto;
    height: 100%;
    width: 75%;
    vertical-align: top;
    background-color: rgba(0, 0, 0, .1);
}


.choiceTitle {
    text-align: center;
    color: white;
    font-family: "Raleway";
    padding-top: 50px;
}

.map::after {
    content: "";
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 18vh;
    text-align: center;
    font-family: "Raleway";
    font-size: 22px;
    border-radius: 2px;
    opacity: 0;
    z-index: -1;
}


.map {
    display: block;
    height: 22%;
    width: 84%;
    margin: 8px 8% 70px 8%;
    border-radius: 2px;
}

.map:hover::after {
    opacity: .8;
    z-index: 1;
    cursor: pointer;
}

#easy {
    background: url('../datas/img/easy.png') center;
    background-size: cover;
}

#normal {
    background: url('../datas/img/normal.png') center;
    background-size: cover;
}

#hard{
    background: url('../datas/img/hard.png') center;
    background-size: cover;
}

#easy:hover::after {
    content: "Lullaby (EASY)";
}

#normal:hover::after {
    content: "Sweat dreams (NORMAL)";
}

#hard:hover::after {
    content: "Highway to Hell (HARD)";
}

.break {
    height: 20px;
}